@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
}

body {
    text-align: center;
    background-color: #FFF8D6;
}

h1 {
    font-size: 35px;
    margin: 50px 0 20px 0;
    color: #617A55;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* color box */
.colorBox {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #293324;
    color: rgb(255, 255, 255);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    transition: .2s all ease-out;

}
/* .colorBox:hover{
    width: 210px;
    height: 210px;
} */


.control button {
    color: #617A55;
    background-color: #F7E1AE;
    width: 100;
    padding: 15px 15px;
    font-size: 15px;
    cursor: pointer;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 30px;
    transition: .6s all ease-out;
    font-weight: 700;
}

.control button:hover {
    background-color: #617A55;
    color: #F7E1AE;
    letter-spacing: 1.1px;
}

.control input {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    margin-top: 30px;
    width: 350px;
    border: 1px solid #617A55;
    height: 50px;

}

input::placeholder {
    /* text-align: center; */
    padding-left: 20px;
}

input[type="text"] {
    font-size: 18px;
    padding-left: 20px;

}

.control p {
    font-size: 18px;
    font-weight: 600;
    color: #293324;
    /* color: #fff; */
    /* padding: 30px 0; */
}
